<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookSite - Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>

    <section class="body-section">
        <aside class="sidebar" id="sidebar">
            <button id="sidebar-toggle" class="sidebar-toggle"><</button>
            <a href="dashboard" class="active"><span class="icon">🏠</span><span class="text">Dashboard</span></a>
            <a href="books"><span class="icon">📚</span><span class="text">Books</span></a>
            <a href="borrow"><span class="icon">🏦</span><span class="text">Borrow</span></a>
            <a href="members"><span class="icon">🪪</span><span class="text">Members</span></a>
            <a href="waitinglist"><span class="icon">⏳</span><span class="text">Waiting list</span></a>
        </aside>

        <main>
            <h1>- Welcome to Library Management System -</h1>

            <p style="text-align:center; color:#777;">No books available.</p>
            <p style="text-align:center; color:#777;">Be the First to
                <a href="books" class="submit-btn">Submit</a> a Book!
            </p>
        </main>
    </section>

    <footer>
        Library Management System Project - AIU
    </footer>

    <script src="/js/sidebar.js"></script>
</body>

</html>
