<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Books</title>
</head>

<body>

    <h1>Library Books</h1>

    <div class="container">
        <form id="editBookForm">
            <input type="hidden" id="bookID">
            <input type="text" name="title" placeholder="Title" required>
            <input type="text" name="author" placeholder="Author" required>
            <input type="text" name="coverUrl" placeholder="Cover Url" required>
            <input type="text" name="genre" placeholder="Genre" required>
            <input type="number" name="publicationYear" placeholder="Year" required>
            <select name="availabilityStatus" title="Availability Status" required>
                <option value="true">Available</option>
                <option value="false">Not Available</option>
            </select>
        
            <button type="submit">Save</button>
        </form>
    </div>


    <script src="/js/books/books-edit.js"></script>
</body>

</html>