<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Books</title>
</head>

<body>

    <section class="body-section">
        <aside class="sidebar" id="sidebar">
            <button id="sidebar-toggle" class="sidebar-toggle"><</button>
            <a href="dashboard"><span class="icon">🏠</span><span class="text">Dashboard</span></a>
            <a href="books" class="active"><span class="icon">📚</span><span class="text">Books</span></a>
            <a href="borrow"><span class="icon">🏦</span><span class="text">Borrow</span></a>
            <a href="members"><span class="icon">🪪</span><span class="text">Members</span></a>
            <a href="waitinglist"><span class="icon">⏳</span><span class="text">Waiting list</span></a>
        </aside>

        <main>
            <h1>Library Books</h1>
            <a href="/books/add" class="submit-btn">Add New Book</a>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th>Publication Year</th>
                        <th>Availability Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="bookTable"></tbody>
            </table>
        </main>
    </section>
    
    <footer>
        Library Management System Project - AIU
    </footer>

    <script src="/js/books/books-list.js"></script>
    <script src="/js/sidebar.js"></script>
</body>

</html>
